CiMgRGVwZW5kZW5jaWVzCm5vZGVfbW9kdWxlcwoucG5wCi5wbnAuanMKCiMg
VGVzdGluZwpjb3ZlcmFnZQoKIyBQcm9kdWN0aW9uCmRpc3QKYnVpbGQKCiMg
TWlzYwouRFNfU3RvcmUKLmVudgouZW52LmxvY2FsCi5lbnYuZGV2ZWxvcG1l
bnQubG9jYWwKLmVudi50ZXN0LmxvY2FsCi5lbnYucHJvZHVjdGlvbi5sb2Nh
bAoKIyBGaXJlYmFzZSBTZWNyZXRzCmZpcmViYXNlLWFkbWluLWtleS5qc29u
CipmaXJlYmFzZSphZG1pbnNkayouanNvbgoqZmlyZWJhc2UqLmpzb24KCiMg
V29ya3NwYWNlIGZpbGVzCiouY29kZS13b3Jrc3BhY2UKb3JnLXBvbGljeS55
YW1sCnNldHVwLnBzMQoKIyBMb2dzCm5wbS1kZWJ1Zy5sb2cqCnlhcm4tZGVi
dWcubG9nKgpwbnBtLWRlYnVnLmxvZyoKCiMgRWRpdG9yCi52c2NvZGUvCi5p
ZGVhCiouc3VvCioubnR2cyoKKi5uanNwcm9qCiouc2xuCiouc3c/Cg==
